@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  border-radius: 0;
}

.btn:hover{
  box-shadow: 5px 5px black;
}

/* #homePageBtn:hover{
  background-color: #0072F5;
} */
#homePage{
  overflow-y: hidden !important;
}